<!DOCTYPE html>
<html>
<head>
    <title>Form Submitted</title>
    <style>
        .name {
            display: inline-block;
            margin-left: 40%;
            margin-bottom: 50px;
        }
    </style>
</head>
<body class="name">
    <h2>Form Submitted Successfully</h2>

    <p><strong>Name:</strong> {{ data.name }}</p>
    <p><strong>Age:</strong> {{ data.age }}</p>
    <p><strong>Mobile Number:</strong> {{ data.number }}</p>
    <p><strong>Email:</strong> {{ data.email }}</p>
    <p><strong>Address:</strong> {{ data.address }}</p>
    <p><strong>Gender:</strong> {{ data.gender }}</p>
</body>
</html>
